$lt-lt-green : #cddad3;
$lt-green : #809f90;
$md-green : #50846d;
$drk-green : #377256;
$drk-grey : #2d2d2d;


h1 {
	color: $drk-grey;
}
h2 {
	color: $drk-grey;
}
h3{
	color: white;
}
h4{
	color: white;
}